<p-toast></p-toast>

<div style="width: 100%; height: 100%" class="flex justify-content-center">
  <p-card
    class="flex align-items-center justify-content-center border-round card-login"
  >
    <ng-template pTemplate="header">
      <br />
      <div class="px-5 text-center">
        <h3>Monitor de Uso de Laboratorios de Computación</h3>
      </div>
    </ng-template>

    <form
      autocomplete="off"
      [formGroup]="formLogin"
      class="px-5"
      (ngSubmit)="ingresar()"
    >
      <div class="grid">
        <div class="p-fluid col-12">
          <div class="field">
            <label for="email">Correo institucional</label>
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              placeholder="usuario@uni.edu.ec"
              [readonly]="isReadOnly"
              autocomplete="off"
              autofocus
            />
            <small class="p-error" *ngIf="validarCampos('email')">
              Debe ser un correo válido (máx. 100 caracteres).
            </small>
          </div>
        </div>

        <!-- 
        <div class="p-fluid col-12" *ngIf="false">
          <div class="field">
            <label for="password">Contraseña</label>
            <p-password
              inputId="password"
              [feedback]="false"
              formControlName="password"
              autocomplete="off"
              [toggleMask]="!isReadOnly"
            ></p-password>
            <small class="p-error" *ngIf="validarCampos('password')">
              Debe de ser de 3 letras mínimo y máximo 50
            </small>
          </div>
        </div>
        -->

        <div class="col-12 flex justify-content-center">
          <button
            pButton
            type="submit"
            label="Ingresar"
            [loading]="loading"
            class="botonIngresar"
          ></button>
        </div>
      </div>
    </form>
  </p-card>
</div>

<!-- <p-toast></p-toast>
<div style="width: 100%; height: 100%" class="flex justify-content-center">
  <p-card
    class="flex align-items-center justify-content-center border-round card-login"
  >
    <ng-template pTemplate="header">
      <br>
      <div class="px-5 text-center">
        <h3>Monitor de Uso de Laboratorios de Computación</h3>
      </div>
    </ng-template>

<form
      autocomplete="off"
      [formGroup]="formLogin"
      class="px-5"
      (ngSubmit)="ingresar()"
    >
      <div class="grid">
        <div class="p-fluid col-12">
          <div class="field">
            <label for="usuario">Usuario</label>
            <input
              pInputText
              id="usuario"
              type="text"
              formControlName="usuario"
              autocompleteOff
              autofocus
              [readonly]="isReadOnly"
            />
            <small class="p-error" *ngIf="validarCampos('usuario')">
              Debe de ser de 3 letras mínimo y máximo 50
            </small>
          </div>
        </div>
        <div class="p-fluid col-12">
          <div class="field">
            <label for="password">Contraseña</label>
            <p-password
              inputId="password"
              [feedback]="false"
              formControlName="password"
              autocompleteOff
              [toggleMask]="!isReadOnly"
            >
            </p-password>
            <small class="p-error" *ngIf="validarCampos('password')">
              Debe de ser de 3 letras mínimo y máximo 50
            </small>
          </div>
        </div>
        <div class="col-12 flex justify-content-center">
          <button
            pButton
            type="submit"
            label="Ingresar"
            [loading]="loading"
            class="botonIngresar"
          ></button>
        </div>
      </div>
    </form>
  </p-card>
</div> -->
